/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(4, 110, 197);
  border-radius: 5px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 4, 197);
}

/***Responsive**/

@media only screen and (max-width: 425px) {
  .topbarRight {
    float: none !important;
    text-align: center;
  }
  .topbarleft {
    display: none;
  }
}
