.navbar-light .navbar-toggler-icon {
  background-image: url(../../../images/menu.png) !important;
}
.navbar-toggler {
  font-size: 1.5rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0px !important;
}
.navbar-light .navbar-toggler {
  color: rgb(255 255 255 / 50%);
  border-color: rgb(0 0 0 / 0%);
}

.bg-light {
  background-color: #ffffff !important;
  border-bottom: 2px solid #f1f1f1;
}

.navbar-nav .nav-link {
  color: black !important;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
}
