.loginBox {
  padding: 50px 0px;
  background: white;
  margin-top: 150px;
  margin-bottom: 180px;
  border: 1px solid #f1f1f1;
}
.btn-primary {
  color: #fff;
  background-color: #003561;
  border-color: #ffffff;
  font-size: 26px;
  border-radius: 10px;
}
