.topbar {
  padding: 13px;
  background: #003561;
  color: white;
}
.topbarRight .topbarBtn {
  background: white;
  border: none;
  margin-left: 10px;
  padding: 6px 28px;
  color: #267ad6;
  border-radius: 5px;
}
.topbarleft {
  padding-top: 5px;
}
.topbarRight {
  float: right;
}
button.topbarBtn:hover {
  background: #267ad6;
  color: white;
  transition: 0.3s ease;
}
